Atalov S. (TSI AUCA)

Data Collection and Processing Technologies

---

# Scraping

---

In [1]:
import requests
import pandas as pd

`url: https://www.timesjobs.com`

In [88]:
req = requests.get("https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=python&txtLocation=")

In [89]:
req.status_code

200

In [90]:
html = req.text

In [91]:
from bs4 import BeautifulSoup

In [92]:
soup = BeautifulSoup(html)

In [93]:
souppre = soup.prettify()

In [94]:
jobs_all = soup.find_all('li', class_ = 'clearfix job-bx wht-shd-bx')

In [95]:
titles = []
companies = []
descriptions = []
key_values = []

In [96]:
for job in jobs_all:
    title = job.find('strong', class_ = 'blkclor').text
    company = job.find('h3', class_ = 'joblist-comp-name').text
    desc = job.find('ul', class_ = 'list-job-dtl clearfix').find('li').text
    key = job.find('span', class_ = 'srp-skills').text

    titles.append(title)
    companies.append(company)
    descriptions.append(desc)
    key_values.append(key)

In [97]:
df = pd.DataFrame({'Titles': titles,
                   'Companies': companies,
                   'Descriptions': descriptions,
                   'Key Skills': key_values})

In [98]:
df

,Titles,Companies,Descriptions,Key Skills
0,Python,\r\n Pure Tech Codex Private Limited\r\n ...,\nJob Description:\r\nJob Description: 2 to 3 ...,"\r\n \r\n rest , python , da..."
1,Python,\r\n Surya Informatics Solutions Pvt. Ltd.\...,\nJob Description:\r\nPOSITION: Python Develop...,"\npython , web technologies , linux , mo..."
2,Python,\r\n RESEARCH DEVELOPERS\r\n (More Jobs...,\nJob Description:\r\nExcellent understanding ...,"\npython , research , python programmer ,..."
3,Python,\r\n Angel and Genie\r\n \r\n,\nJob Description:\r\nRequired Skills:Strong e...,"\npython , docker , messaging , python s..."
4,Python,\r\n TandA HR Solutions\r\n \r\n,\nJob Description:\r\nGood to have working kno...,"\npython , git , django\r\n \r\n"
5,Python,\r\n east india securities ltd.\r\n \r\n...,\nJob Description:\r\njob_description 2 yea...,"\npython , hadoop , machine learning\r\n ..."
6,Python,\r\n hk infosoft\r\n \r\n,"\nJob Description:\r\nExpert in Python , fram...","\npython , django , , framework\r\n ..."
7,Python,\r\n Perfios Software Solutions Pvt. Ltd.\r...,\nJob Description:\r\nWere looking for experie...,"\npython , java , scala\r\n \r\n"
8,Python,\r\n JobsLo Consultants\r\n \r\n,\nJob Description:\r\nJob Description : Python...,"\npython , linux , windows , sql\r\n ..."
9,Python,\r\n LAKSH HUMAN RESOURCE\r\n \r\n,"\nJob Description:\r\nPowai , Mumbai Python D...","\r\n \r\n rest , python , dj..."
10,Python,\r\n TandA HR Solutions\r\n \r\n,\nJob Description:\r\nJob Description:It Good ...,"\nPython , Django , Flask\r\n \r\..."
11,Python,\r\n APPLYCUP HIRING SOLUTIONS LLP\r\n \...,\nJob Description:\r\nQualification : B.Tech /...,"\npython , Django , Object Relational Ma..."
12,Python,\r\n APPLYCUP HIRING SOLUTIONS LLP\r\n \...,"\nJob Description:\r\nPython TrainerPune , Ma...","\npython , web technologies , web technolo..."
13,Python,\r\n AtoZ Infoway LLP\r\n \r\n,\nJob Description:\r\nPython DeveloperNumber o...,"\npython , django , html5 , javascript\r..."
14,Python,\r\n APPLYCUP HIRING SOLUTIONS LLP\r\n \...,"\nJob Description:\r\nSkills : Django , Flask...","\npython , django , html5 , javascript\r..."
15,Python,\r\n APPLYCUP HIRING SOLUTIONS LLP\r\n \...,\nJob Description:\r\nPython DeveloperGurgaon ...,"\npython , django , html5 , javascript\r..."
16,PYTHON,\r\n DREAMAJAX TECHNOLOGIES\r\n \r\n,\nJob Description:\r\nPYTHON DEVELOPER B.E / ...,"\npython , django , api , sql , nosql\..."
17,Python,\r\n zenga tv\r\n \r\n,\nJob Description:\r\nPython Developer > Gurga...,"\npython , django , html5 , javascript\r..."
18,Python,\r\n Anantha Cyber Tech Pvt Limited\r\n ...,\nJob Description:\r\nJob title Openings for P...,"\npython , c , c , information technol..."
19,Python,\r\n quality thought\r\n \r\n,\nJob Description:\r\nJob Description:Contribu...,"\r\n \r\n rest , python , dj..."
20,PYTHON,\r\n INFINITY GROUP\r\n \r\n,\nJob Description:\r\nDescriptionPosition: PYT...,"\npython , css , django , html , boots..."
21,Python,\r\n toolyt\r\n \r\n,\nJob Description:\r\nWe are looking for an ex...,"\r\n \r\n algorithms , python ..."
22,Python,\r\n HARRY INTERNATIONAL\r\n (More Jobs...,\nJob Description:\r\nPosition:Python Develope...,"\nPython , django , Flask\r\n \r\n ..."
23,Python,\r\n InnOvator Web Solutions Pvt.Ltd.\r\n ...,\nJob Description:\r\nJob Category: Developmen...,"\r\n \r\n rest , python , dj..."
24,Python,\r\n Innvonix Technologies\r\n \r\n,\nJob Description:\r\nJob DescriptionWork expe...,"\npython , security , django , html5 , ..."

In [99]:
df.replace(to_replace='\r', value = '', regex = True, inplace = True)
df.replace(to_replace='\n', value = '', regex = True, inplace = True)
df.replace(to_replace='Job Description:', value = '', regex = True, inplace = True)

In [100]:
df

,Titles,Companies,Descriptions,Key Skills
0,Python,Pure Tech Codex Private Limited,2 to 3 Years experience in Python.Expert in P...,"rest , python , database ..."
1,Python,Surya Informatics Solutions Pvt. Ltd.,POSITION: Python Developer ELIGIBILITY: FRESHE...,"python , web technologies , linux , mobi..."
2,Python,RESEARCH DEVELOPERS (More Jobs),Excellent understanding of machine learning te...,"python , research , python programmer , ..."
3,Python,Angel and Genie,Required Skills:Strong experience in developme...,"python , docker , messaging , python scr..."
4,Python,TandA HR Solutions,Good to have working knowledge on unit testing...,"python , git , django"
5,Python,east india securities ltd.,job_description 2 years of experience worki...,"python , hadoop , machine learning ..."
6,Python,hk infosoft,"Expert in Python , framework such as Django ,...","python , django , , framework ..."
7,Python,Perfios Software Solutions Pvt. Ltd.,Were looking for experienced developers who ar...,"python , java , scala"
8,Python,JobsLo Consultants,Job Description : Python DeveloperQualificatio...,"python , linux , windows , sql ..."
9,Python,LAKSH HUMAN RESOURCE,"Powai , Mumbai Python Developer Experience : ...","rest , python , django , ..."
10,Python,TandA HR Solutions,It Good to have working knowledge on unit test...,"Python , Django , Flask"
11,Python,APPLYCUP HIRING SOLUTIONS LLP,Qualification : B.Tech / B.E. - Any Specializa...,"python , Django , Object Relational Mapp..."
12,Python,APPLYCUP HIRING SOLUTIONS LLP,"Python TrainerPune , MaharashtraQualification...","python , web technologies , web technologi..."
13,Python,AtoZ Infoway LLP,Python DeveloperNumber of Vacancy : 2 Applican...,"python , django , html5 , javascript ..."
14,Python,APPLYCUP HIRING SOLUTIONS LLP,"Skills : Django , Flask or other Python frame...","python , django , html5 , javascript ..."
15,Python,APPLYCUP HIRING SOLUTIONS LLP,"Python DeveloperGurgaon , Delhi Qualification...","python , django , html5 , javascript ..."
16,PYTHON,DREAMAJAX TECHNOLOGIES,PYTHON DEVELOPER B.E / B.Tech / MCA / M....,"python , django , api , sql , nosql ..."
17,Python,zenga tv,Python Developer > GurgaonPositions: 4 Experie...,"python , django , html5 , javascript ..."
18,Python,Anantha Cyber Tech Pvt Limited,Job title Openings for Python Developer Design...,"python , c , c , information technolog..."
19,Python,quality thought,Contribute to designing and building web apps ...,"rest , python , django , ..."
20,PYTHON,INFINITY GROUP,DescriptionPosition: PYTHON DeveloperNo. of Re...,"python , css , django , html , bootstr..."
21,Python,toolyt,We are looking for an experienced Python devel...,"algorithms , python , mach..."
22,Python,HARRY INTERNATIONAL (More Jobs),Position:Python Developer Experience: 3+ Years...,"Python , django , Flask"
23,Python,InnOvator Web Solutions Pvt.Ltd.,Job Category: DevelopmentJob Type: Full TimeJo...,"rest , python , django , ..."
24,Python,Innvonix Technologies,Job DescriptionWork experience as a Python Dev...,"python , security , django , html5 , a..."

In [101]:
for i in range(1, 101):
    print(i)
    req = requests.get(f"https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords=python&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&luceneResultSize=25&postWeek=60&txtKeywords=python&pDate=I&sequence=2&startPage={i}")
    html = req.text
    soup = BeautifulSoup(html)
    jobs_all = soup.find_all('li', class_ = 'clearfix job-bx wht-shd-bx')
    
    titles = []
    companies = []
    descriptions = []
    key_values = []
    
    for job in jobs_all:
        title = job.find('strong', class_ = 'blkclor')
        company = job.find('h3', class_ = 'joblist-comp-name').text
        desc = job.find('ul', class_ = 'list-job-dtl clearfix').find('li').text
        key = job.find('span', class_ = 'srp-skills').text

        titles.append(title)
        companies.append(company)
        descriptions.append(desc)
        key_values.append(key)
        
    df1 = pd.DataFrame({'Titles': titles,
                   'Companies': companies,
                   'Descriptions': descriptions,
                   'Key Skills': key_values})
    
    df = pd.concat([df, df1])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [102]:
df

,Titles,Companies,Descriptions,Key Skills
0,Python,Pure Tech Codex Private Limited,2 to 3 Years experience in Python.Expert in P...,"rest , python , database ..."
1,Python,Surya Informatics Solutions Pvt. Ltd.,POSITION: Python Developer ELIGIBILITY: FRESHE...,"python , web technologies , linux , mobi..."
2,Python,RESEARCH DEVELOPERS (More Jobs),Excellent understanding of machine learning te...,"python , research , python programmer , ..."
3,Python,Angel and Genie,Required Skills:Strong experience in developme...,"python , docker , messaging , python scr..."
4,Python,TandA HR Solutions,Good to have working knowledge on unit testing...,"python , git , django"
...,...,...,...,...
20,[Python],\r\n Schneider Electric Pvt Ltd\r\n \r\n...,\nJob Description:\r\nPython Developer respons...,"\r\n \r\n html5 , database , ..."
21,[Python],\r\n pegasus knowledge solutions india pvt ...,\nJob Description:\r\nPython DeveloperPrimary ...,"\npython , css , django , java , html ..."
22,[Python],\r\n Fluper Limited\r\n \r\n,\nJob Description:\r\nJob Responsibilities Han...,"\r\n \r\n c# , python , virt..."
23,[Python],\r\n APPLYCUP HIRING SOLUTIONS LLP\r\n \...,"\nJob Description:\r\nPython LeadBangalore , ...","\r\n \r\n algorithms , python ..."
24,[Python],\r\n NuageBiz.Tech\r\n \r\n,\nJob Description:\r\nThis is an opportunity f...,"\npython , mobile , team player , svn ,..."